<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="page<%= typeof mainClass !== 'undefined' && mainClass ? ` ${mainClass}` : '' %>">
      <%- body %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
